label,input,button{
    margin:10px;
    padding:5px;
}
.Button{
    background-color: aquamarine;
    border: 2px solid black;
}
footer{
    position:absolute;
    bottom: 0;
    width: 90%;
    height:40px;
}